@import "helpers/mixins";
@import "helpers/variable";

.page-order {
    //.innerpage-banner {
    //    //margin-top: 80px;
    //}

}

.order-fixed {
    background-color: #E6F2ED;
    padding: 20px 0 10px;
}

.order-modal {
    .order-modal-title {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 18px;
    }

    input[type='text'],
    input[type='number'],
    select {
        background-color: #F6F6F6;
        border: 0;
        border-bottom: 1px solid #E2E2E2;
        padding: 10px 17px;
        font-size: 15px;
    }

    .order-modal-body {
        &__content {
            padding: 20px 20px 30px;

            section {
                padding: 0;

                //&:first-child {
                //    margin-bottom: 50px;
                //}
            }

            .description {
                color: #7b7979;
                font-size: 14px;
                margin-bottom: 8px;
            }
        }

        .order-list {
            .number {
                padding-top: 8px;
                display: inline-block;
                padding-left: 20px;
            }
        }
    }
}

.order-total {
    &__content {
        &__title {
            display: none;
            @include breakpoint(lg) {
                display: flex;
            }
        }

        &__all-total {

        }

        .tr {
            padding: 8px 5px;
            border: 1px solid #adadad;
            margin-bottom: 16px;
            @include breakpoint(sm) {
                border: none;
                margin-bottom: 0;
                border-top: 1px solid #adadad;
                padding: 7px 0;
                align-items: center;
            }
        }

        .total-number-mobile {
            @include breakpoint(md) {
                display: none;
            }
        }

        .total-number-desktop {
            display: none;

            @include breakpoint(md) {
                display: flex;
            }
        }
    }
}

.order-add {
    .form-control {
        margin-bottom: 10px;
        @include breakpoint(xl) {
            margin-bottom: 0;
        }
    }
}

.delete_order {
    .icon-md {
        fill: gray;

        &:hover {
            fill: #DC3545;
        }
    }
}

.order-total {
    span {
        height: calc(1.5em + 0.75rem + 2px);
        display: flex;
        align-items: center;
    }

    .th:first-child {
        background-color: #f5f5f5;
    }

    //.tr, .th {
    //    border-top: 1px solid #eee;
    //}

    .th:last-child {
        border-top: 2px solid #3c3c3c;
    }
}

.btn-check-order {
    margin-top: 10px;
    width: 100%;
    @include breakpoint(md) {
        margin-top: 0;
        width: auto;
    }
}

.order-edit {
    .order-item {
        border: 1px solid #ddd;
        padding: 10px 10px;
        margin-bottom: 30px;

        @include breakpoint(xl) {
            //border-width: 0;
            padding: 0;
            margin-bottom: 15px
        }

        &__field {
            margin-bottom: 14px;
            @include breakpoint(xl) {
                margin-bottom: 0;
            }

            &.sn-number {

                @include breakpoint(xl) {
                    text-align: left;
                }
            }

            &.payment-status {
                text-align: center;
                color: #fff;
                padding: 5px;

                @include breakpoint(xl) {
                    color: inherit;
                }
                // 已付款
                &.paid {
                    background-color: #6C757D;
                    @include breakpoint(xl) {
                        background-color: transparent;
                    }
                }

                // 未付款
                &.unpaid {
                    background-color: #DC3545;
                    @include breakpoint(xl) {
                        background-color: transparent;
                    }
                }
            }

            .form-check-input {
                margin-left: 0;
                margin-right: 10px;
                float: none;

                @include breakpoint(xl) {
                    margin-left: -1.5em;
                    margin-right: 0;
                    float: left;
                }
            }

            .label-mobile {
                padding-left: 5px;
                color: #9c9c9c;

                @include breakpoint(xl) {
                    display: none;
                }
            }
        }
    }
}