nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
    .position-sticky.pt-3
        ul.nav.flex-column
            li.nav-item
                a.nav-link.active(aria-current='page' href='#')
                    span(data-feather='home')
                    |              管理首頁
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='file')
                    |               團購單
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='shopping-cart')
                    |               餐廳管理
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='users')
                    |               使用者
            //-
                li.nav-item
                    a.nav-link(href='#')
                        span(data-feather='bar-chart-2')
                        |               Reports
                li.nav-item
                    a.nav-link(href='#')
                        span(data-feather='layers')
                        |               Integrations