footer.footer.mt-5
    .container-fluid
        .row
            .col-sm-5
                img(src='images/logo-light.svg',width='146',height='24',alt='')
            .col-sm-3
                .widget
                    ul
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
            .col-sm-3
                .widget
                    ul
                        li
                            a(href='about.html',title='')
                        li
                            a(href='about.html',title='')
                        li
                            a(href='about.html',title='')
                        li
                            a(href='about.html',title='')
                        li
                            a(href='about.html',title='')
    section.copyright
        .text-center
            | Copyright ©2021 Mzai Eats 嗯災吃啥 All rights reserved. Designed by&nbsp;
            a(href='https://www.ahan123.tw/' title='ahan123' target='_blank') ahan123.tw
            | .
