#navbarHeader.bg-light.sidebar(style='')
    .p-3
        .user-info
            a.user-info__avatar
                img(src='http://fakeimg.pl/48x48',alt='')
            .user-info__account
                div
                    | 阿翰
                a(href='m-info.html',title='')
                    | 檢視帳戶資訊
        ul.sidebar__nav.nav.nav-pills.flex-column.mb-auto
            li.nav-item
                a.nav-link.link-dark(href='#',title='')
                    i.fas.fa-bookmark
                    | 進行中團購
            li
                a.nav-link.link-dark(href='#',title='')
                    i.fas.fa-heart
                    | 最愛餐廳
            //-
                li
                    a.nav-link.link-dark(href='#',title='')
                        | Wallet
            li
                a.nav-link.link-dark(href='#',title='')
                    i.fas.fa-life-ring
                    | 幫助
            li
                a.nav-link.link-dark(href='#',title='')
                    i.fas.fa-tag
                    | 優惠
            li
                a.nav-link.link-dark(href='#',title='')
                    | 登出
            li
                a.nav-link.link-dark(href='#',title='')
                    | 登入
    hr
.sidebar-layout
.navbar.navbar-dark.bg-lighj.shadow-sm
    .container-fluid
        .menu-controller.d-flex
            button.menu-btn#menuBtn(aria-label='主瀏覽選單')
                svg(aria-hidden='true' focusable='false' viewBox='0 0 20 20')
                    path(d='M19.167 3.333H.833v2.5h18.334v-2.5zm0 5.834H.833v2.5h18.334v-2.5zM.833 15h18.334v2.5H.833V15z')
            a.navbar-brand.d-flex.align-items-center(href='#',title='')
                img(src='images/logo.svg',alt='', width='146', height='24')
        .recommend-eat
            i.fas.fa-utensils
            span.recommend-text 今天推薦你吃
            a(href='group-order.html',title='')
                span.store-name 龍品魚丸店