#navbarHeader.bg-light.sidebar(style='')
    .sidebar__menu.p-3
        a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
            svg.bi.me-2(width='40' height='32')
                use(xlink:href='#bootstrap')
            span.fs-4 Sidebar
        hr
        ul.nav.nav-pills.flex-column.mb-auto
            li.nav-item
                a.nav-link.active(href='#')
                    svg.bi.me-2(width='16' height='16')
                        use(xlink:href='#home')
                    |         Home
            li
                a.nav-link.link-dark(href='#')
                    svg.bi.me-2(width='16' height='16')
                        use(xlink:href='#speedometer2')
                    |         Dashboard
            li
                a.nav-link.link-dark(href='#')
                    svg.bi.me-2(width='16' height='16')
                        use(xlink:href='#table')
                    |         Orders
            li
                a.nav-link.link-dark(href='#')
                    svg.bi.me-2(width='16' height='16')
                        use(xlink:href='#grid')
                    |         Products
    hr
.sidebar-layout
.navbar.navbar-dark.bg-lighj.shadow-sm
    .container-fluid
        .menu-controller.d-flex
            button.menu-btn#menuBtn(aria-label='主瀏覽選單')
                svg(aria-hidden='true' focusable='false' viewBox='0 0 20 20')
                    path(d='M19.167 3.333H.833v2.5h18.334v-2.5zm0 5.834H.833v2.5h18.334v-2.5zM.833 15h18.334v2.5H.833V15z')
            a.navbar-brand.d-flex.align-items-center(href='#')
                img(src='images/logo.svg',alt='', width='146', height='24')
        .recommend-eat
            i.fas.fa-utensils
            span.recommend-text 今天推薦你吃
            a(href='group-order.html',title='')
                span.store-name 龍品魚丸店