extends include/_layout
block vars
    - var module='groupbuy'
    - var headerClass = ''
block content
    main.page-groupbuy
        section.innerpage-banner(style='background-image:url(archive/innerpage-banner.jpg);')
            .innerpage-text
                h1.innerpage-title
                    |大胖肉羹 中國醫店
                ul.store-meta
                    li
                        i.fa.fa-coins
                        | NTD$45
                    li
                        i.fa.fa-hourglass
                        | 準時
                    li
                        i.fa.fa-hand-point-right
                        | 滿 500 外送
            button.btn.groupbuy-call(type='button' data-bs-toggle='modal' data-bs-target='#groupbuyCallModal')
                i.fa.fa-user-plus
                | 發起團購訂單

            #groupbuyCallModal.modal.fade.groupbuy-modal(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-body.groupbuy-body
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .groupbuy-body__content
                                .text-center
                                    img(src='images/groupbuy-modal.svg',width='200', height='96')
                                h1.title
                                    | 我的團購訂單
                                p.description 邀請賓客使用可分享連結新增餐點。所有人都訂完後，再幫大家付款。
                                ul.store-detail
                                    li
                                        i.fa.fa-heart
                                        | 大胖肉羹 中國醫店
                                    li
                                        i.fa.fa-phone
                                        | 電話：04-22490558
                                    li
                                        i.fa.fa-coins
                                        | 滿 500 外送

                                button.btn-login(onclick='location.href="groupbuy-list.html"')
                                    | 建立訂單
        section.store-info
            .container-fluid
                ul.d-flex.flex-column
                    li.category
                        i.fa.fa-folder-open
                        | 中式美食
                    li.address
                        i.fa.fa-map-marker-alt
                        |台中市北區梅亭街253號, Taichung, 404

        section.groupbuy
            .container-fluid
                h2.section-title 最新 Mzai Eats 嗯栽食啥團購
