@import "../helpers/mixins";
@import "../helpers/variable";
// ======================================
// Reset
// ======================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.2;
    font-weight: 600;
    color: $main-color;
}
body {
    font-family: "Microsoft JhengHei";
}
section {
    padding: 40px 0;
}

// header
//.navbar-brand {
//    &>img {
//
//    }
//}
.menu-btn {
    width: 18px;
    height: 18px;
    outline: none;border:none;
    background-color: transparent;
    margin-right: 32px;
    padding: 6px 0 0;
}
.navbar {
    &>.container-fluid {
        padding: 0 40px;
    }
}



.recommend-eat {
    background-color: #F6F6F6;
    display: block;
    padding: 10px 15px;
    font-size: 16px;

    i {
        margin-right: 17px;
    }
    .recommend-text {

    }
}
//store-list
.store-list {
    &>.container-fluid {
        padding-bottom: 40px;
    }
    &__item {
        padding-bottom: 24px;
    }
    .store-meta {
        padding-top: 10px;
    }
}
// store-category
.store-category {
    figure {
        height: 253px;
        width: 253px;
        &>img{
            object-fit: cover;
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }
    figcaption {
        margin-top: 7px;

    }
    &__item {
        display:flex;
        li {
            padding: 0 30px;
            //max-width: 253px;
            //max-height: 253px;
        }
    }
    a {
        color: #000;
        text-decoration: none;
    }
}
