@import "../helpers/mixins";
@import "../helpers/variable";
// ======================================
// Reset
// ======================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.2;
    font-weight: 600;
    color: #000;
}

body {
    font-family: "Microsoft JhengHei" ;
}
section {
    padding: 30px 0 ;
}

a {
    color: $main-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header-admin {
    .navbar-brand {
        background-color: #fff;
    }
}